
<article class="container">
  <div class="row"> 
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><h2>Positive Out Put</h2>
       <p>We deliver smiles through our most quality bikes</p>
    </div>
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><h2>Best Rated</h2>
        <p>We are the best rated bike mart around</p>
    </div>
  </div>
  <div class="row">  
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span><h2>Free Repairs</h2>
        <p>We offer our clients with free repairs for the first few months</p>
    </div>
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span><h2>We Affordable</h2>
       <p>Always pocket friendly</p>
    </div>
  </div> 
</article>