h1 {
	color :rgb(132, 166, 193);
}
.footercopy {
	color: White;
    text-align: center;
}
.hometitle {
	color: #84a6c1;
    position: relative;
    top: 34px;
    text-align: center;
}
.homesubtitle {
	position: relative;
    top: 20px;
    text-align: center;
    font-size: 1em;
    font-style: italic;
}
.navmove {
    position: relative;
    left: 375px;
}