body {
	color: #000;
}

a:hover {
	background-color: transparent;
}

p {
	margin: 30px 0;
}


/*Navigation*/

.navbar {
	border-radius: 0;
	background-color: #000;
	min-height: 46px;
	border: 0;
}

.brand {
	height: 45px;
	width: auto;
	margin: 20px 0 20px;
}
